/day_time_wildfire_v2/
/images/
/results/
/xmls/
/challenge1/
/raw_data/
/series_results/
/budget_results/
/parsed_results/
/actual_trial/
/sample/
/splits/
/videos/
/nemo/
wildfire-smoke-detection-data.zip